#  What is a database? Differentiate between SQL and NoSQL databases.

Database is the collection of organised data that may be structured or unstructured. The database's primary goal is 
to store huge amount of data.
                            SQL databases are vertically scalable while NOSQL databases are horijontally scalable. SQL databases are table base while NOSQL databases are based on documents, key-value, graph. SQL database is better for multirow transactions while NOSQL data base is better for unstructured data like documents or json.

#  What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Defnetion Language. It is the subset of SQL commands that is used to create, drop,alter and truncate
the database structure.

In [1]:
# CREATE: used to create the database or its object like table, index, function, views, store procedure, and triggers.
#     Create table Employee
#     (EmployeeId int Notnull,
#      EmployeeName varchar(50),
#      Email varchar(50)
#     );

In [2]:
# DROP: This command is used to remove an existing table along with its structure from the Database.
#     DROP Table Employee;

In [3]:
# ALTER: This command is used to add, delete or change columns in the existing table.
#     ALTER TABLE Employee
#     ADD Age int;

In [4]:
# TRUNCATE: This command is used to remove all rows from the table, but the structure of the table still exists.
#     TRUNCATE TABLE Employee;

# What is DML? Explain INSERT, UPDATE, and DELETE with an example

DML is a language that is used to manipulate data stored in the database.

In [5]:
# INSERT: INSERT is a DML command in SQL that is used to insert new records into database tables.
#     Insert into Employee(EmployeeID,EmployeeName,Email,Age) values(101,'Mayank','mayank@gmail.com',29),
#     (102,'Gaurabh','gaurabh@gmail.com',28);

In [6]:
# UPDATE: The UPDATE command can update single or multiple records according to WHERE conditions.
#     UPDATE Employee
# SET Name= 'Vinay'
# WHERE Age= 29;

In [7]:
# DELETE: This command is used to delete single or multiple records from the tables based on the condition given in the 
# WHERE clause.
# DELETE FROM Employee WHERE Age = 28;

#  What is DQL? Explain SELECT with an example.

In [1]:
# DQL commands are used for fetching data from a relational database.
# Select is DQL command which is used to fetch the desired query from a table and where is used to filter databases.
# eg. select EmployeeName, Email from Employee where age= 29;

# Explain Primary Key and Foreign Key.

In [2]:
# Primary Key: It is a unique key in the table, it can not be null and table allows only one primary key.
# Foreign Key: It is used to generally build relationship between tables

# Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [1]:
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost"
#   user= "xyz"
#   password="abcda"
# )
# mycursor= mydb.cursor()
# mycursor.execute("show database")


# cursor(): A cursor is an object which helps to execute the query and fetch the records from the database.
# execute(): The Execute method executes a specified query, SQL statement.

# Give the order of execution of SQL clauses in an SQL query.

In [2]:
#from > where > group by > having > select > order by >limit